* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* max-width: 1110px; */
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    color: #3b3b3b;
    min-height: 100vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0em 2em;
    background-color: #2F2F2F;
}

a{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    color: #ffffff;
    height: 70px;
    align-content: center;
}

.botao-nav-portal-cliente{
    color: aliceblue;
    background-color: #2F2F2F;
    height: 40px;
    width: 13em;
    border-radius: 30px;
    border: #F67520 2px solid;
    cursor: pointer;
}

.hero-header{
  background-image: url(/img/caminhão-hero.png);
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  position: relative;
}

.hero-content{
  width: 70%;
}

.hero-content h1 {
  font-size: 2em;
  margin-bottom: 30px;
}

.botao-hero-saibamais-hero{
    color: #ffffff;
    font-weight: bold;
    font-size: 1em;
    text-shadow: 0px 3px 10px #7c7c7c;
    background-color: #F67520;
    padding: 20px 30px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

#conteiner-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  margin-top: 1em;
  gap: 1.5em;
}

.conteiner {
  padding: 2em 0;
  width: 90%;
  margin: 0 auto;
  max-width: 70em;
  justify-items: center;
}


p{
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

h2{
  font-weight: bold;
  font-size: 1.8em;
  margin-bottom: 0.5em;
}

#icone{
  width: 70px;
  margin-bottom: 1.2em;
}

.card {
  background-color: #F0F0F0;
  padding: 2.2em;
  border-radius: 1em;
  box-shadow: 0 3px 10px #c5c5c5;
  transition: 0.4s;
  height: 23em;
  width: 20em;
  margin-bottom: 1em;
}

.card:hover {
  transform: translateY(-1em);
}

.botao-card-saibamais-hero{
    color: #ffffff;
    font-weight: bold;
    font-size: 0.9em;
    text-shadow: 0px 3px 10px #7c7c7c;
    background-color: #414141;
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin-top: 0.8em;
}

.frasecards{
  padding: 3em 0 4em;
  width: 70%;
  margin: 0 auto;
  max-width: 70em;
  justify-items: center;
  text-align: center;
  font-size: 1em;
  color: #606060;
}

.frota {
  background-color: #F0F0F0;
}

.conteiner2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#bannercaminhao {
  height: auto;
  max-width: 100%;
  width: 47em;
}

#ccardtexto {
  height: auto;
  max-width: 100%;
  width: 45em;
  justify-items: center;
}

.cardtexto {
  padding: 2.2em;
  height: 23em;
  width: 414px;
  /* margin-bottom: 1em; */
  align-content: center;
  /* text-align: center; */
}

.titulocardtexto {
  color: #606060;
  font-size: 2.5em;
  font-weight: bold;
}

.textcardtexto {
  font-size: 1.5em;
}

.botao-frota-saibamais-hero{
    color: #ffffff;
    font-weight: bold;
    font-size: 1em;
    text-shadow: 0px 3px 10px #7c7c7c;
    background-color: #F67520;
    padding: 20px 30px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin-top: 1em;
}

.quemsomos {
  justify-items: center;
}

.frasecards2 {
  padding: 5em 0 3em;
  width: 70%;
  margin: 0 auto;
  max-width: 70em;
  justify-items: center;
  text-align: center;
  font-size: 1em;
  color: #606060;
}

.card2 {
  display: flex;
  background-color: #F0F0F0;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0 3px 10px #c5c5c5;
  transition: 0.4s;
  height: 15em;
  width: 33.5em;
  margin-bottom: 1.5em;
  gap: 2em;
  align-items: center;
}

.card2:hover {
  transform: translateY(-0.5em);
}

#icone2 {
  width: 100px;
  height: 100px;
}

.conteiner3 {
  width: 85%;
  margin: 0 auto;
  max-width: 70em;
  justify-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
  
}
